set mapleader=","
set easymotion
set which-key
set whichkey

set notimeout
"set timeoutlen=5000
let g:textwidth=90
set nu
set relativenumber
set formatoptions="tcqrj"
let g:mapleader = ","

noremap <leader>e :bufdo e!<cr>
" let g:WhichKeyDesc_reload="<leader>e :bufdo e!<cr>"
