__pycache__
awesome/.config/awesome/awesome-wm-widgets

packer_compiled.lua
*.spl
*.o
*lock.json
fish/.config/fish/conf.d/virtualfish-loader.fish
applications/.local/share/applications/chrome-agimnkijcaahngcdmfeangaknmldooml-Profile_1.desktop
applications/.local/share/applications/chrome-gneipglanmgpdhiohiogfnhdpoaafoob-Default.desktop
applications/.local/share/applications/mimeinfo.cache
