* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font Mono, Braille, MesloLGL Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(36, 40, 59, 0.4);
    border-bottom: 3px solid rgba(36, 40, 59, 0.0);
    color: rgba(169, 177, 214, 0.8);
    ;
    transition-property: background-color;
    transition-duration: .5s;
}

/* ------------  left -----------------------------*/
#workspaces {
    margin: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button label {
    color: #b4f9f8;
    font-weight: bolder;
    font-size: 14px;
}

#workspaces button:hover {
    background: #24283b;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
    background-color: #f7768e;
}

/* ------------  center  -----------------------------*/

#window {
    /* color: rgba(36, 40, 59, 0.8); */
    padding-right: 30px;
    padding-left: 10px;
    /* padding-bottom: 2px; */
    background: transparent;
    background-color: rgba(36, 40, 59, 0.);
    border-radius: 2px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;

}

/* ------------  center  -----------------------------*/
#tray {
    /* background-color: #2a3f56; */
    background-color: #41a6b5;
    color: #b4f9f8;
}



#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-bluetooth {
    background: #73daca;
    color: #24283b
}

#custom-language {
    /* background: #2a3f56; */
    background: #9ece6a;
    color: #24283b
}

#custom-cycle_wall {
    background: #3d59a1;
    color: #24283b;
    font-size: 20px;

}

#pulseaudio {
    background-color: #7aa2f7;
    min-width: 100px;
    color: #24283b;

}

#network {
    background-color: #414868;
    color: #a9b1d6;

}

#network.disconnected {
    color: #bb9af7;
}



#battery {
    background-color: #545c7e;
    color: #a9b1d6;

}

#battery.charging {
    background-color: #545c7e;
    color: #a9b1d6;

}

#battery.plugged {
    background-color: #545c7e;
    color: #a9b1d6;

}

#battery.critical:not(.charging) {
    background-color: #545c7e;
    color: #f7768e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    font-size: 16px;
    padding-right: 30px;
    background-color: #292e42;
    color: #a9b1d6;
}

/*
    #scratchpad {
        background: rgba(0, 0, 0, 0.2);
    }
    window#waybar.hidden {
        opacity: 0.2;
    } 
    window#waybar.empty {
        background-color: transparent;
    } 

    window#waybar.solo {
        background-color: rgba(36, 40, 59, 0.8);
    } 
    window#waybar.termite {
        background-color: rgba(36, 40, 59, 0.8);
    }
    window#waybar.chromium {
        background-color: #000000;
        border: none;
    } 
    #mode {
        background-color: #6183bb;
        box-shadow: inset 0 -3px #c0caf5;
    }
    #clock,
    #battery,
    #cpu,
    #memory,
    #disk,
    #temperature,
    #backlight,
    #network,
    #pulseaudio,
    #wireplumber,
    #custom-media,
    #tray,
    #mode,
    #idle_inhibitor,
    #power-profiles-daemon,
    #mpd {
        padding: 0 10px;
        color: #c0caf5;
    }
    .modules-left>widget:first-child>#workspaces {
        margin-left: 0;
    }
    .modules-right>widget:last-child>#workspaces {
        margin-right: 0;
    }
    #pulseaudio.muted {
        background-color: #f7768e;
        color: #3d59a1;
    } 
    #custom-media {
        background-color: #2a3f56;
        min-width: 100px;
    } 
    #wireplumber {
        background-color: #292e42;
    } 
    #wireplumber.muted {
        background-color: #f7768e;
    } 
    @keyframes blink {
        to {
            background-color: #c0caf5;
            color: #1b1e2d;
        }
    }
    label:focus {
        background-color: #292e42;
    }
    #disk {
        background-color: #394b70;
    }
    #idle_inhibitor {
        background-color: #2d3436;
    }

    #idle_inhibitor.activated {
        background-color: #ecf0f1;
        color: #2d3436;
    } 
    #mpd {
        background-color: #66cc99;
        color: #2a5c45;
    }
    #mpd.disconnected {
        background-color: #f53c3c;
    }
    #mpd.stopped {
        background-color: #90b1b1;
    }
    #mpd.paused {
        background-color: #51a37a;
    } 
    #language {
        background: #394b70;
        color: #b4f9f8;
        padding: 0 5px;
        margin: 0 5px;
        min-width: 16px;
    }
    #keyboard-state {
        background: #394b70;
        color: #b4f9f8;
        padding: 0 0px;
        margin: 0 5px;
        min-width: 16px;
    }
    #keyboard-state>label {
        padding: 0 5px;
    }
    #keyboard-state>label.locked {
        background: rgba(0, 0, 0, 0.2);
    }

    #scratchpad.empty {
        background-color: transparent;
    }
    #privacy {
        padding: 0;
    }
    #privacy-item {
        padding: 0 5px;
        color: white;
    }
    #privacy-item.screenshare {
        background-color: #cf5700;
    }
    #privacy-item.audio-in {
        background-color: #1ca000;
    }

    #privacy-item.audio-out {
        background-color: #0069d4;
    }

    #power-profiles-daemon {
        padding-right: 15px;
    }

    #power-profiles-daemon.performance {
        background-color: #f7768e;
        color: #c0caf5;
    }

    #power-profiles-daemon.balanced {
        background-color: #2a3f56;
        color: #c0caf5;
    }

    #power-profiles-daemon.power-saver {
        background-color: #6c6648;
        color: #000000;
    }

    #backlight {
        background-color: #6c6648;
    }


    #memory {
        background-color: #c6c1a3;
    }
    #cpu {
        background-color: #5c533f;
        color: #000000;
    } 
    button {
        box-shadow: inset 0 -3px transparent;
        border-radius: 0;
        margin-right: 5px;
        margin-left: 5px;
    }
    button:hover {
        background: inherit;
        box-shadow: inset 0 -3px #c0caf5;
    } 
        #temperature {
    background-color: #ff007c;
        color: #24283b;

}

#temperature.critical {
    background-color: #f7768e;
}
    */
