*.selectToClipboard: true
*.disallowedWindowOps: 20,21,SetXProp
*.font:hack nerd font:style=regular:pixelsize=14:antialias=true:autohint=true;
*.fontalt0:JuliaMono:pixelsize=11:antialias=true:autohint=true;
*.fontalt1:Terminus:pixelsize=11:antialias=true:autohint=true; 
*.alpha: 0.90:white

#include "/home/humberto/.config/styles/color-ayu-dark"
#include "/home/humberto/.config/styles/st-preferences"
