[Desktop Entry]
Type=Application
Name=Clion
Comment=Intelij C/C++ development
Icon=/opt/clion-2022.3.3/bin/clion.png
Exec=/usr/bin/clion
Terminal=false

