#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Ajuda do IRPF 2024
Exec="/home/humberto/Documents/Pessoal/IRPF/IRPF2024/Ajuda do IRPF 2024" %U
Icon=/home/humberto/Documents/Pessoal/IRPF/IRPF2024/.install4j/Ajuda do IRPF 2024.png
Categories=Application;
StartupWMClass=install4j-serpro-ppgd-app-IRPFPGD4149462972
