#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Ajuda do IRPF 2023
Exec="/home/humberto/ProgramasRFB/IRPF2023/Ajuda do IRPF 2023" %U
Icon=/home/humberto/ProgramasRFB/IRPF2023/.install4j/Ajuda do IRPF 2023.png
Categories=Application;
StartupWMClass=install4j-serpro-ppgd-app-IRPFPGD1765233183
