[Desktop Entry]
Type=Application
Name=Mendeley Desktop
Comment=Reference manager
Icon=/opt/mendeley-reference-manager-2.85.0/Mendeley.png
Exec=/usr/bin/mendeley
Terminal=false

