[Desktop Entry]
Exec=rofi --show dmenu
Name=rofi --show dmenu
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
