[Desktop Entry]
Exec=/sbin/shutdown -h now
Name=/sbin/shutdown -h now
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
