[Desktop Entry]
Exec=wofi --show drun
Name=wofi --show drun
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
